
// Main Base Styles

body {
margin: 0;
font-family: $Poppins,sans-serif;
letter-spacing: .4px;
font-size: 16px;
line-height: 24px;
font-weight: 400;

}

* {
box-sizing: border-box;

}


//Universal Containers
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $xsmall) {
        width: 750px;
    }
     @media (min-width: $medium) {
        width: 970px;

    }
     @media (min-width: $large) {
        width: 1200px;
    }


}

.container-bottom {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;

        @media (max-width: $xsmall) {
      margin:0; 
      flex-direction: column;
      
    }
        @media (min-width: $xsmall) {
        width: 750px;
         justify-content: space-between;
         align-items: center;
    }
     @media (min-width: $medium) {
        width: 970px;

    }
     @media (min-width: $large) {
        width: 1200px;
    }
}


// Elements
a {
    cursor: pointer;
    color: $white;
}



 
