body {
margin: 0;
font-family: $Poppins-R,sans-serif;
letter-spacing: .4px;

}

* {
box-sizing: border-box;

}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $small) {
        width: 750px;
    }
     @media (min-width: $medium) {
        width: 970px;
    }
     @media (min-width: $large) {
        width: 1200px;
    }


}

a {
    cursor: pointer;
}