
.services-list {
    

		.services-row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            max-width: 100%;
            

			.services-header {
                width: 100%;

            }
				
			
			.services-pannel {
                cursor: pointer;

                       	a {
                            .icon1 {

                            }


					h2 {

                    }

					p {}


					.button-container {
                        .button-CD {

                        }
                    }
                }
            }
        }
    }


