// Variables
// Colours
$white: #fff;
$grey: #666;
$dark: #1b1b1e;
$darker: #222431;
$black: #000;
$darkgrey: #333645;

//Break Points
$xsmall: 768px;
$small: 770px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins: 'Poppins';
$icomoon: 'icomoon';


//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font sizes
$pt: 0.88125rem;
$spt: 0.8125rem;
$opt: 1rem;
$lpt: 1.125rem;
$mpt: 0.875rem;