// Variables
// Colours
$white: #fff;
$darkteal: #324544;

//Break Points
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins-R: 'Poppins Regular';
$Poppins-B: 'Poppins Bold';
$Poppins-EB: 'Poppins Extra Bold';
$Poppins-Bl: 'Poppins Black';
$Poppins-EL: 'Poppins Extra Light';
$Poppins-L:  'Poppins Light';
$Poppins-M: 'Poppins Medium';
$Poppins-SB: 'Poppins SemiBold';
$Poppins-T: 'Poppins Thin';


//Assest Paths
$img-path: '../images';
$font-path: '../fonts';