// Variables
// Colours
$white: #fff;
$grey: #666;
$dark: #1b1b1e;
$darker: #222431;
$black: #000;

//Break Points
$xsmall: 768px;
$small: 770px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins-R: 'Poppins Regular';
$Poppins-B: 'Poppins Bold';
$Poppins-EB: 'Poppins Extra Bold';
$Poppins-Bl: 'Poppins Black';
$Poppins-EL: 'Poppins Extra Light';
$Poppins-L:  'Poppins Light';
$Poppins-M: 'Poppins Medium';
$Poppins-SB: 'Poppins SemiBold';
$Poppins-T: 'Poppins Thin';
$icomoon: 'icomoon';


//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font sizes
$pt: 0.88125rem;
$spt: 0.8125rem;