// Web fonts
@mixin font-face($family, $file, $weight)
{
    @font-face {
        font-family: $family;
        src: url('#{$font-path}/#{$file}.ttf') format('truetype');
        font-weight: $weight;
        
    }
}